In [9]:
%config InteractiveShell.ast_node_interactivity="none"

### Functions

In [46]:
#Here, I'm defining the function, in order to use the function, I have to call it.
def sumTwo(x, y):
    return x + y

In [33]:
print(sumTwo(1, 2)) 
#I'm calling the function sumTwo with arguments 1 and 2, and then I print the value that sumTwo returns. 
#In this case, sumTwo returns 1+2 which is 3.

3

In [50]:
def sumTwo(x,y):
    z=x+y  #--->I use the variable z to store the value of x+y, and I return that value which is stored in z
    return z

In [51]:
ans=sumTwo(5,10)  
print(ans)

15

### Functions can call other functions

In [52]:
def sumTwo(x, y):
    return(x + y) #--->What happens if I change this to print instead?

def sumThree(x, y, z):
    return x + sumTwo(y, z)

In [53]:
def sumTwo(x, y):
    print(x + y) 

def sumThree(x, y, z):
    return x + sumTwo(y, z)

In [54]:
#When I call sumThree, I get an error. I don't get an erorr when I define the function above. 

x=sumThree(1, 2, 3)
print(x)

5

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

Reading the error above, we see that it happens inside of sumThree, in the line x+sumTwo(y,z). Because I changed the return statement into a print statement, the function sumTwo(x,y) now doesn't return anything, i.e., it returns None. The function sumThree tries to add 1 which is an int,  to None, which results in a type error.

### You can have functions that call functions that call functions

In [56]:
def sumTwo(x, y):
    return x + y 

def sumThree(x, y, z):
    return x + sumTwo(y, z)

def sumFour(a, b, c, d):
    return a + sumThree(b, c, d)

In [57]:
print(sumFour(1, 2, 3, 4))

10

sumFour(1,2,3,4)=1+sumThree(2,3,4) <br />
sumThree(2,3,4)=2+sumTwo(3,4) <br />
sumTwo(3,4)=3+4 <br /> 

sumTwo(3,4)returns 3+4=7--->sumThree(2,3,4)returns 2+7=9--->sumFour(1,2,3,4)returns 1+9 which is 10.  <br /> 
print(sumFour(1,2,3,4) prints 10.

### Write function that takes in a list and returns the sum of all the elements in the list
Step 1: Read the question <br />
Step 2: Run a small example <br />
Step 3: Write pseudo code <br /> 
Step 4: Translate pseudo code to python. <br />

In [44]:
#We go through each element in the list, and add it to the sum of the prior elements in the list. 
#So if our list is [1,5,6,7], we first have 1, then we add 5 to 1, then we add 6 to 5+1 etc. 
#Just like we did for find min, we want a variable to keep track of things, 
#this time the variable doesn't track the minimum so far but it tracks the sum so far. 
#We use a for loop to iterate over the elements of the list. 

def sum_list_for(l):
    sum_so_far = 0
    for n in l:
        sum_so_far += n
    return sum_so_far

print(sum_list_for([1,2,3,4,5]))

15

### Write a function called sumAll that takes in an intiger and returns the sum of all the numbers less than or equal to that intiger. 

For example <br />
sumAll(3) should return 0+1+2+3=6  <br />
sumAll(4) should return 0+1+2+3+4=10

In [58]:
#The only difference between this one and the prior function is that here, we don't want to iterate over the 
#elements of a list. We want to iterate over the intigers between 0 and the input intiger, 
#including the input intiger. The way to have numbers between 0 and a given intiger n, is range (n). 
#E.g., range(4) gives us [0,1,2,3]. However, I also want to add the number 4, so I want 
#range(4+1) instead of range(4). So in my forloop I iterate over range(n+1) for the given intiger n. 
#Other than that I do the same thing above. I initialive a variable that keeps track of the sum so far. 
#I add the sum thus far to that variable as I go through the for loop and I return that variable. 

def sumAll(n):
    sum_so_far=0
    for x in range(n+1):
        sum_so_far+=x
    return sum_so_far

In [59]:
print(sumAll(4))

10

### Can you guess what this function is doing?
Step 1: Read the question <br /> 
Step 2: Run a small example and trace through the code<br />

Lets print a to see what is going on in this function

In [ ]:
def mystery(a):
    if a == 0:
        return 0
    else:
        return a + (mystery(a-1))

In [ ]:
#Lets run a small example and call mystery(a) with the argument 4.
print(mystery(4))

Lets trace through the code. We call myster(a) with the argument 4, so a is 4. 
Since a is not zero we don't return anything. We go to the else statement and return <br />
a+mystery(a-1), which is 4+mystery(4-1)--->4+mystery(3). <br />
So, mystery(4)=4+mystery(3) <br />
mystery(3)=3+mystery(2) <br />
mystery(2)=2+mystery(1) <br />
mystery(1)=1+mystery(0) <br />
mystery(0)=0 --->Here a is 0, and we go inside the if statement and return 0. <br />

Now that mystery(0) has returned a value 0, mystery(1) returns 1+0=1 <br />
Mystery(2) then returns 2+mystery(1)=2+1=3 <br />
Mystery(3) then returns 3+mystery(2)=3+3=6 <br />
Mystery(4) then returns 4+mystery(3)=4+6=10<br />

We print mystery(4) which is 10.

In [60]:
def mystery(a):
    if a == 0:          #--->What happens if I remove the if statement?
        return 0      
    else:
        return a + (mystery(a-1))

In [61]:
def mystery(a):
        return a + (mystery(a-1))

mystery(4)=4+mystery(3) <br />
mystery(3)=3+mystery(2) <br />
mystery(2)=2+mystery(1) <br />
mystery(1)=1+mystery(0) <br />
mystery(0)=0+mystery(-1)<br />
mystery(-1)=-1+mystery(-2)<br />


It keeps on going like this and doesn't stop.